DATABASE_URL="mongodb://mongo:27017/myTestDatabase?replicaSet=rs0"
ION_CLIENT_SECRET=ION_OAUTH_CLIENT_SECRET_HERE
ION_CLIENT_ID=ION_OAUTH_CLIENT_SECRET_HERE

# Database url may be changed if using cloud mongodb over local
# to test prefixer, you need PREFIXER_API_URL (look up how google sheets api works)